@model VIC_Story.Models.VIC_StoryConcernHomepageRecord
@*<script src="@Url.Content("../../Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script src="@Url.Content("../../ModScripts/modernizr-1.7.min.js")" type="text/javascript"></script>*@
@*@{
    Script.Include("ConcernStory.js");
}*@
@using (Html.BeginForm("Admin_HomePage", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Country/State</legend>
        @Html.DropDownList("ID_Concern", string.Empty)
      @Html.DropDownList("ID_Story",string.Empty)
        <p>
            <input type="submit" value="Submit" id="SubmitID" />
        </p>
    </fieldset>
    @Html.AntiForgeryTokenOrchard()  
}

