<table style="width: 960px; color: #808080; font-family: 'Segoe UI';">
    <colgroup>
        <col width="310px" />
        <col width="310px" />
        <col width="310px" />
    </colgroup>
    <tr>
        <td colspan='3'>
            <hr />
        </td>
    </tr>
    <tr>
        <td colspan='2' style="font-size: 20px; padding: 0px 10px">
            Những câu chuyện hay trong tháng:
        </td>
        <td style="float: right; padding: 0px 10px">
            <span id="ax1">@Html.ActionLink("Xem tất cả 20 câu chuyện", " ", " ")</span>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <hr />
        </td>
    </tr>
    <tr>
        <td style="padding: 15px">
            <table style="border: thin groove #E4E4E4; padding: 10px; width: 290px">
                <colgroup>
                    <col width="85px" />
                    <col width="85px" />
                    <col width="120px" />
                </colgroup>
                <tr>
                    <td colspan='3'>
                        <a href="~/">
                            <img src="../../Modules/VIC_Story/Styles/images/Pic_M.jpg" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan='3' style="color: #99CC00; font-size: 15px;">
                        <strong><span id="ax">@Html.ActionLink("Mang lại nụ cười cho trẻ với chương trình Thắp sáng tương lai", " ", " ")</span></strong>
                    </td>
                </tr>
                <tr>
                    <td colspan='2' style="font-size: 12px;">
                        Viết bởi <u><span id="ax4">@Html.ActionLink("Nguyễn Toàn", " ", " ")</span></u>
                    </td>
                    <td style="font-size: 13px; text-align: center">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_address.png" />
                        Bình Định
                    </td>
                </tr>
                <tr>
                    <td colspan='3'>
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 16px;">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_tim.png" />10
                    </td>
                    <td style="font-size: 16px;">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_sao.png" />20
                    </td>
                    <td style="font-size: 16px">
                        <img src=".../../Modules/VIC_Story/Styles/images/icon_gio.png" />20/02/2013
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table style="border: thin groove #E4E4E4; padding: 10px; width: 290px">
                <colgroup>
                    <col width="85px" />
                    <col width="85px" />
                    <col width="120px" />
                </colgroup>
                <tr>
                    <td colspan='3'>
                        <a href="~/">
                            <img src="../../Modules/VIC_Story/Styles/images/Pic_M.jpg" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan='3' style="color: #99CC00; font-size: 15px;">
                        <strong><span id="ax">@Html.ActionLink("Mang lại nụ cười cho trẻ với chương trình Thắp sáng tương lai", " ", " ")</span></strong>
                    </td>
                </tr>
                <tr>
                    <td colspan='2' style="font-size: 12px;">
                        Viết bởi <u><span id="ax4">@Html.ActionLink("Nguyễn Toàn", " ", " ")</span></u>
                    </td>
                    <td style="font-size: 13px; text-align: center">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_address.png" />
                        Bình Định
                    </td>
                </tr>
                <tr>
                    <td colspan='3'>
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 16px;">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_tim.png" />10
                    </td>
                    <td style="font-size: 16px;">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_sao.png" />20
                    </td>
                    <td style="font-size: 16px">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_gio.png" />20/02/2013
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table style="border: thin groove #E4E4E4; padding: 10px; width: 290px">
                <colgroup>
                    <col width="85px" />
                    <col width="85px" />
                    <col width="120px" />
                </colgroup>
                <tr>
                    <td colspan='3'>
                        <a href="~/">
                            <img src="../../Modules/VIC_Story/Styles/images/Pic_M.jpg" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan='3' style="color: #99CC00; font-size: 15px;">
                        <strong><span id="ax">@Html.ActionLink("Mang lại nụ cười cho trẻ với chương trình Thắp sáng tương lai", " ", " ")</span></strong>
                    </td>
                </tr>
                <tr>
                    <td colspan='2' style="font-size: 12px;">
                        Viết bởi <u><span id="ax4">@Html.ActionLink("Nguyễn Toàn", " ", " ")</span></u>
                    </td>
                    <td style="font-size: 13px; text-align: center">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_address.png" />
                        Bình Định
                    </td>
                </tr>
                <tr>
                    <td colspan='3'>
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 16px;">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_tim.png" />10
                    </td>
                    <td style="font-size: 16px;">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_sao.png" />20
                    </td>
                    <td style="font-size: 16px">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_gio.png" />20/02/2013
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 15px">
            <table style="border: thin groove #E4E4E4; padding: 10px; width: 290px">
                <colgroup>
                    <col width="85px" />
                    <col width="85px" />
                    <col width="120px" />
                </colgroup>
                <tr>
                    <td colspan='3'>
                        <a href="~/">
                            <img src="../../Modules/VIC_Story/Styles/images/Pic_M.jpg" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan='3' style="color: #99CC00; font-size: 15px;">
                        <strong><span id="ax">@Html.ActionLink("Mang lại nụ cười cho trẻ với chương trình Thắp sáng tương lai", " ", " ")</span></strong>
                    </td>
                </tr>
                <tr>
                    <td colspan='2' style="font-size: 12px;">
                        Viết bởi <u><span id="ax4">@Html.ActionLink("Nguyễn Toàn", " ", " ")</span></u>
                    </td>
                    <td style="font-size: 13px; text-align: center">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_address.png" />
                        Bình Định
                    </td>
                </tr>
                <tr>
                    <td colspan='3'>
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 16px;">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_tim.png" />10
                    </td>
                    <td style="font-size: 16px;">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_sao.png" />20
                    </td>
                    <td style="font-size: 16px">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_gio.png" />20/02/2013
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table style="border: thin groove #E4E4E4; padding: 10px; width: 290px">
                <colgroup>
                    <col width="85px" />
                    <col width="85px" />
                    <col width="120px" />
                </colgroup>
                <tr>
                    <td colspan='3'>
                        <a href="~/">
                            <img src="../../Modules/VIC_Story/Styles/images/Pic_M.jpg" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan='3' style="color: #99CC00; font-size: 15px;">
                        <strong><span id="ax">@Html.ActionLink("Mang lại nụ cười cho trẻ với chương trình Thắp sáng tương lai", " ", " ")</span></strong>
                    </td>
                </tr>
                <tr>
                    <td colspan='2' style="font-size: 12px;">
                        Viết bởi <u><span id="ax4">@Html.ActionLink("Nguyễn Toàn", " ", " ")</span></u>
                    </td>
                    <td style="font-size: 13px; text-align: center">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_address.png" />
                        Bình Định
                    </td>
                </tr>
                <tr>
                    <td colspan='3'>
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 16px;">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_tim.png" />10
                    </td>
                    <td style="font-size: 16px;">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_sao.png" />20
                    </td>
                    <td style="font-size: 16px">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_gio.png" />20/02/2013
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table style="border: thin groove #E4E4E4; padding: 10px; width: 290px">
                <colgroup>
                    <col width="85px" />
                    <col width="85px" />
                    <col width="120px" />
                </colgroup>
                <tr>
                    <td colspan='3'>
                        <a href="~/">
                            <img src="../../Modules/VIC_Story/Styles/images/Pic_M.jpg" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan='3' style="color: #99CC00; font-size: 15px;">
                        <strong><span id="ax">@Html.ActionLink("Mang lại nụ cười cho trẻ với chương trình Thắp sáng tương lai", " ", " ")</span></strong>
                    </td>
                </tr>
                <tr>
                    <td colspan='2' style="font-size: 12px;">
                        Viết bởi <u><span id="ax4">@Html.ActionLink("Nguyễn Toàn", " ", " ")</span></u>
                    </td>
                    <td style="font-size: 13px; text-align: center">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_address.png" />
                        Bình Định
                    </td>
                </tr>
                <tr>
                    <td colspan='3'>
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 16px;">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_tim.png" />10
                    </td>
                    <td style="font-size: 16px;">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_sao.png" />20
                    </td>
                    <td style="font-size: 16px">
                        <img src="../../Modules/VIC_Story/Styles/images/icon_gio.png" />20/02/2013
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
