@model VIC_Story.ViewModels.VIC_StoryHomePageVM
@using (Html.BeginFormAntiForgeryPost())
{
<table>
                <colgroup>
                    <col width="220px;" />
                    <col width="100px" />
                    <col width="100px" />
                    <col width="230px" />
                </colgroup>
                <tr>
                @foreach (var i in @Model.eListConcern)
                {
                    if (i.Id.ToString() == @Model.id)
                    {
                    <td colspan='3' style="font-size: 20px; padding-bottom: 10px">
                        Cậu chuyện hay: <span id="ax">@Html.ActionLink(@i.ConcernName, " ", " ")</span>
                    </td>
                    }
                }
                    <td style="float: right; padding: 0px 10px">
                        <span id="ax1">@Html.ActionLink("Xem tất cả 10 câu chuyện >>", " ", " ")</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan='3'>
                        <img src="../../Content/images/150x180.jpg" />
                    </td>
                    <td colspan='3'>
                        <table>
                            <colgroup>
                                <col width="44px" />
                                <col width="386" />
                            </colgroup>
                            <tr>
                                <td rowspan='2'>
                                    <img src="../../Content/images/44x44.jpg" />
                                </td>
                                <td style="color: #99CC00; font-size: 25px;">
                                    "Tân Xuân - Tết Yêu Thương
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;">
                                    Viết bởi <span id="ax4">@Html.ActionLink("NTT Lên Ngàn", " ", " ")</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan='3'>
                        Với ước nguyện làm một chút gì đó góp phần giảm bớt sự khắc nghiệt của mùa Đông
                        lạnh giá, giúp cho cái Tết sắp tới đối với các em và đồng bào vùng núi phía Bắc
                        thêm ấm áp
                    </td>
                </tr>
                <tr>
                    <td colspan='3'>
                        <table>
                            <col width="100px" />
                            <col width="100px" />
                            <col width="230px" />
                            <tr>
                                <td style="font-size: 16px;color: #8CBB00">
                                    <img src="../../Content/images/icon_tim.png" />10
                                </td>
                                <td style="font-size: 16px;color: Red">
                                    <img src="../../Content/images/icon_sao.png" />20
                                </td>
                                <td style="font-size: 16px">
                                    <img src="../Content/images/icon_gio.png" />20/02/2013
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 13px; color: #8CBB00">
                                    người quan tâm
                                </td>
                                <td style="font-size: 13px; color: Red">
                                    người hành động
                                </td>
                                <td style="font-size: 13px">
                                    Thời gian thực hiện
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
    @Html.AntiForgeryTokenOrchard()
}